{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "tests",
            "vendor"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "builds/humbuglog.txt",
        "json": "builds/humbuglog.json"
    }
}
